*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 512px;
    font-family: "dm sans";
}
.wrapper {
    display: flex;
    height:100vh;
    flex-grow: 2;
    background-color:#222225 ;
    padding-top: 4px;
    overflow: hidden;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent ;
    width: 75px;
    margin-top: 10px;
    }

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.app-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;

}
/* Make  server icons circular */
.server-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;     
    object-fit: cover;
}
.direct-messages {
    width: 50px;
    
    
}
/* make profile-pic circular */
.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;     
    object-fit: cover;
}
.chat {
    display: flex;
    
}
.chats-wrapper {
    background-color: #494658;
    border-top-left-radius: 12px;
    flex-grow: 1;
    overflow-y: auto;
    h1{
        margin-left: 20px;
    }
}
ul{
    list-style-type: none;
}

/* style footer */
footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 70px;
    background-color: #5e5978;
}
footer button {
    
    border: none;
    background-color: transparent;
    color: white;
    i{
        font-size: 24px;
    }
    div{
        font-size: 10px;
    }
}
footer button:last-of-type {
    width: 50px;
    align-items: center;

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 35px;
    }
}
/* style header */
header button.search {
    font-size: larger;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #5e5978;
    border: solid #5e5978 5px;
    color: white;
    
}
header button.add-friends {
    text-align: center;
    border-radius: 16px;
    width: 300px;
    height: 35px;
    background-color: #5e5978;
    color: white;
    border: none;
}
header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
    
}
.header-wrapper {
    display: flex;
    justify-content: space-around;
}
/* style chats previews */
.chats-wrapper ul li {
    color: lightgray;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.chat-info {
    display: flex;
    gap: 10px;
}
/* status cifrcle */
.chat .chat-info i {
    color: forestgreen;
    position: absolute;
    bottom: -4px;
    right: 0px;
    border-radius: 50%;
    background-color: #494658;
    border: solid 3px #494658;
    
    font-size: smaller;
}
.chat-info-wrapper {
    position: relative;
    
}
.server {
    position: relative
}
/* style white server selection bar */
.server::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 0.5rem;
    height: 60px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity:0;
    left: -1rem;
}
.server:focus::before {
    opacity:1;
}
/* focus on the first list item */
.server:focus .direct-messages {
    transform: scale(1.1);
    transition: 0.2s ease;
}
/* hover on server icons */
.server:hover .server-icon {
    transform: scale(1.1);
    transition: 0.2s ease;
}
/* select from the second child to the last */
.server:nth-child(n+2):hover::before {
    opacity: 1;
}
/* add chat hover */
ul .chat:hover{
    background-color: #80808080;
}